html {
	height: 100%;
	background-color: rgb(245, 245, 245);
}

body {
	height: 100%;
}

.stackline-application {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.stackline-applicaton div {
	border-radius: 3px;
}
